/* Dog card */
.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 325px;
    height: 300px;
    margin: 15px;
    border-radius: 1%;
    background: #f4f4f4;
}
.card-image {
    height: 80vh;
    padding: 2%;
    overflow: hidden;
}
.card-image img{
    width: 100%;
    height: 100%;
}
.card-label {
    width: 100%;
    font-size: 1.3em;
    text-align: center;
    padding:15px;
}
.card:hover {
    cursor: pointer;
    background: #de950f;
    font-weight: bold;
    color: #fff;
}
.card:hover {
    animation: shake 0.5s; 
    animation-iteration-count: infinite; 
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/* /Dog card */

/* Article */
article {
    background: #edc16e;
    text-align: center;
    border-top: 5px dotted #794f01;
}
.max-section-width {
    max-width: 1600px;
    margin:auto;
    padding: 50px;
}
#dog-article-img {
    border-radius: 50%;
    border: 15px solid #fff;
    margin-bottom: 15px;
}
#who-we-are {
    font-size: 1.5em;
}
#who-we-are:hover {
    cursor: pointer;
    color: #5e5d34;
}
/* \Article */

/* Card with icons */
.column {
    float: left;
    width: 25%;
    padding: 0 5px;
}

.row {margin: 50px -5px;}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card-social {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.379);
    color: rgba(0, 0, 0, 0.625);
    word-break: break-all;
}

.fa {font-size:50px;}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
}
/* \Card with icons */

/* Flipbox */
.flip-box {
    margin: auto;
    background-color: Transparent;
    width: 100%;
    max-width: 400px;
    height: 200px;
    perspective: 1000px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: auto;
    cursor: grab;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-box-front {
    background-color: rgba(255, 255, 255, 0.379);
    color: rgba(0, 0, 0, 0.625);
    padding: 45px;
}

.flip-box-front i{
    font-weight: bolder;
    font-size: 6em;
}

.flip-box-title{
    font-weight: bolder;
    font-size: 1.4em;
}

.flip-box-back {
    background-color: rgba(255, 255, 255, 0.379);
    color: rgb(0, 0, 0);
    font-weight: bold;
    transform: rotateX(180deg);
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .flip-box-front i{
        font-weight: bolder;
        font-size: 5em;
    }
}
/* \Flipbox */

@media screen and (max-width: 725px) {
    .card {
        height: 200px;
    }

    #cursor-icon {
        display: none;
    }
    #dog-article-img {
        max-width: 350px;
        width: 100%;
    }
}